# Node.js
packages/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git temp files
*.rej
*.orig

# Environment variables
.env
.env.local

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Logs
*.log